.registration-form {
  label {
    display: block;
  }
  .select-label {
    max-width: 45rem;
    margin-bottom: 1.4rem;
    select {
      display: block;
      margin-left: 0;
      margin-top: 0.7rem;
    }
    &.price-label {
      select {
        width: 100%;
      }
    }
  }
}

.submit-form {
  opacity: 0;
  pointer-events: none;
}
