.main-header {
  border-bottom: 3px solid #8fa56b;
  height: 20vh;
  &.auto {
    
    height: 100%;
    .main-header__wrapper {
      padding-right: 0;
    }
    .home-col-1 {
      display: flex;
      margin-top: 1.5rem;
    }
  }
  &__wrapper {
    width: 100%;
    padding-right: 3rem;
  }
  &__logo {
    height: 12rem;
    padding-left: 3rem;
   
  }
  &__text {
    align-self:center;
   
    text-align:justify;
    line-height: 2.5rem;
   
    font-size: 30px;
  
  }
  
  .header-image {
    display: flex;
    img {
      height: 20vh;
      width: 100%;
      object-fit: cover;

    }
  }
 
}
