.main-header {
  border-bottom: 1px solid rgba(46, 204, 113, 1);
  height: 12rem;
  &.auto {
    height: 100%;
    .main-header__wrapper {
      padding-right: 0;
    }
    .home-col-1 {
      margin-top: 2.2rem;
    }
  }
  &__wrapper {
    padding-right: 3rem;
  }
  &__logo {
    height: 9rem;
    padding-left: 3rem;
  }
  &__text {
    align-self: center;
    line-height: 2.5rem;
  }
  .header-image {
    display: flex;
    img {
      height: 30vh;
      width: 100%;
      object-fit: cover;
    }
  }
  .current-page {
    padding-left: 3rem;
    color: #2ecc71;
    position: absolute;
    bottom: 3rem;
    left: 0;
    text-transform: capitalize;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
.grid-item2 {
  margin-left: 5px;
}
  p.nextDown{
    margin-top: 2rem;
    font-size: 15px;
  }


}
