*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik";
  font-weight: 400;
}
.container {
  max-width: 1400px;
  padding: 0 3rem;
  margin: 0 auto;
}
.home-row {
  display: grid;
  width: 100%;
  grid-template-columns: 20rem 1fr;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner-container {
  padding: 3rem;
  padding-left: 0;
}

.relative {
  position: relative;
}

.text-wrapper {
  font-size: 1.6rem;
  line-height: 2.4rem;
  a {
    text-decoration: underline;
  }

  strong {
    font-weight: 500;
  }
  p {
    margin-bottom: 1.5rem;
  }
}
.inner-table {
  margin-bottom: 3rem;
  .data-table-row {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-row-gap: 2rem;
    padding: 3rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}


table, th {
  border: 1px solid gray;
  text-align: center;
}

td {
  border: 1px solid gray;
  margin-left: 10px;
  padding-left: 10px;
  text-align: left;
}
