.main-content {
  flex: 1;
}
.main-slider {
  position: relative;
  &__item {
    height: calc(100vh - 12rem - 4rem);
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: sepia(100%);
      transition: all 0.3s ease;
    }
    &:hover img {
      filter: none;
    }
  }
  &__buttons {
    position: absolute;
    top: 2rem;
    right: 5rem;
    z-index: 10;
  }
  &__abs__text {
    position: absolute;
    top: 4rem;
    left: 5rem;
    transform: translateY(-50%);
    z-index: 10;
    width: 29%;
    color: #fff;
    background-color: #8FA56B;
    opacity: 0.9;
    padding: 1rem;
    text-align: center;
    cursor:default;
  }
}

.carousel.carousel-slider .control-arrow {
  opacity: 1;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #8FA56B;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #8FA56B;
}

.button {
  width: 170px;
  padding-left: 1rem;
  font-family: "cordel";
  border-radius: 40px;
  border: 2px solid white;
}
