.welcome-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  justify-content: center;

  .single-person-wrapper {
    margin: 4rem 0;
    .speakers-item {
      &__title {
        min-height: auto;
      }
    }
  }
  .item1 {
    grid-row: 1;
    padding-right: 40px;
    text-align: justify;
  }

  .item2 {
    padding-left: 40px;
    padding-right: 15px;
    grid-row: 1;
    border-left: 2px solid #8fa56b;
    text-align: justify;
  }
}
.text-wrapper-welcome {
  font-size: 1.6rem;
  line-height: 2.4rem;
  .spacing {
    padding-top: 5px;
  }
}
.speaker-item-wrapper {
  margin-top: 2.5rem;
}
.speaker-item {
  max-width: 85%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  &__desc {
    max-width: 60%;
    margin-right: 5rem;
    font-size: 1.5rem;
  }
  &__imagebox {
    width: 8rem;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
