.speakers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
  justify-items: center;
  justify-content: center;
}
.welcome-container {
  .speakers-grid {
    margin: 4rem;
  }
  .single-person-wrapper {
    margin: 4rem 0;
    .speakers-item {
      &__title {
        min-height: auto;
      }
    }
  }
}
