.welcome-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  justify-content: center;
  font-family: Calibri,'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;

  .single-person-wrapper {
    margin: 4rem 0;
    .speakers-item {
      &__title {
        min-height: auto;
      }
    }
  }
  .item1 {
    grid-row: 1;
    padding-right: 12%;
    text-align: justify;
  }

  .item2 {
    padding-left: 12%;
    padding-right: 15px;
    grid-row: 1;
    border-left: 2px solid #8fa56b;
    text-align: justify;
  }
}
.text-wrapper-welcome {
  font-size: 1.6rem;
  line-height: 1.8rem;
  .spacing {
    padding-top: 10px;
  }
}
.speaker-item-wrapper {
  margin-top: 2.5rem;
}
.speaker-item {
  max-width: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(119, 119, 119);
  &__desc {
    max-width: 35%;
    margin-right: 5rem;
    font-size: 1.5rem;
  }
  &__imagebox {
    width: 6vw;
    height: 12vh;
    img {
      width: 6vw;
      height: 12vh;
      object-fit: cover;
    }
    
  }
}
