.main-nav {
  padding: 3.5vh 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
  @media (max-width: 750px) {
    padding-top: 5rem !important;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
    display: none;
    @media (max-width: 750px) {
      display: block;
    }
  }
  & > ul > li {
    &:not(:last-child) {
      margin-bottom: 2.5vh;
    }
  }

  &__dropdown {
    display: none;
    background-color: #fff;
    position: relative;
    top: 0;
    right: 0;

    li {
      margin-top: 2.5vh;
      border: 2px solid #8fa56b;
      border-radius: 40px;
      a {
        padding: 5px 15px;
      }
      &:hover {
        color: white;
        background-color: #8fa56b;
        border: 2px solid gray;
        border-radius: 40px;
      }
    }
  }
  &__dropdown__li {
    position: relative;
    cursor: pointer;
    p {
      max-width: 100%;
    }
    &.active {
      & > .flex-space {
        color: white;
        background-color: #8fa56b;
        border: 2px solid gray;
      }
      .main-nav__dropdown {
        display: block;
        padding-left: 2rem;
      }
    }
    padding: 0px;
    .dropdown-item {
      &:hover a {
        color: white;
      }
    }
  }

  li {
    p {
      cursor: pointer;
      font-size: 10px;
    }
    a {
      display: block;
      color: #000;
      font-size: 10px;
    }
  }
  .flex-space {
    padding: 5px 15px;
    border: 2px solid #8fa56b;
    border-radius: 40px;
    &:hover {
      color: white;
      background-color: #8fa56b;
      border: 2px solid gray;
    }
  }
}

li.no_dropdown {
  &:hover {
    background-color: #8fa56b;
    border: 2px solid gray;
    a {
      color: white;
    }
  }

  a {
    padding: 5px 15px;
  }
  border: 2px solid #8fa56b;
  border-radius: 40px;
}

.dropdown-item:hover {
  color: white;
}
