.main-nav {
  padding: 4rem 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
  & > ul > li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__dropdown {
    display: none;
    padding: 10px 50px;
    padding-right: 30px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    li {
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }
  &__dropdown__li {
    position: relative;
    p {
      max-width: 80%;
    }

    &:hover {
      p {
        text-decoration: underline;
      }
      .main-nav__dropdown {
        display: block;
      }
    }
  }
  li {
    p {
      cursor: pointer;
    }
    a {
      color: #000;
      transition: all 0.3s ease;
      &:hover {
        color: #2ecc71;
      }
    }
  }
}
