.main-nav {
  padding: 4rem 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
  & > ul > li {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

 
  }

  
  &__dropdown {
    
    display: none;
    background-color: #fff;
    position: relative;
    top: 0;
    right: 0;
    
   
    li {
      padding: 5px;
      margin-top: 2rem;
      border: 2px solid #8FA56B;
      border-radius: 40px;
      &:hover{   
        color: white;
        background-color:  #8FA56B;
        border: 2px solid gray;
        border-radius: 40px;
      }
    }
  }
  &__dropdown__li {
    
    position: relative;
    cursor: pointer;
    p {
      max-width: 100%;
    }
    &.active {
      
      .main-nav__dropdown {
        display: block;
      }
    }
    padding:0px;
  }
  li {

     
    p {
      cursor: pointer;
      
    }
    a {
      display:block;
      color: #000;
      transition: all 0.3s ease;
    }

  }
  .flex-space { 
    padding: 5px;
    border: 2px solid #8FA56B;
    border-radius: 40px;
    &:hover{   
      color: white;
      background-color:  #8FA56B;
      border: 2px solid gray;
      border-radius: 40px;
    }
    }
  }

  li.no_dropdown {
    &:hover{
      color: white;
      background-color:  #8FA56B;
      border: 2px solid gray;
      border-radius: 40px;
    }

    padding: 5px;
    border: 2px solid #8FA56B;
    border-radius: 40px;
  }
  

  .dropdown-item:hover{
    color:white;
  }

  
